<section class="py-4">
    <div class="container text-center">
        <h1>Welcome to UsersApp!</h1>
        <div class="row justify-content-center py-4">
        <div class="col-5">
            <div class="card">
                <h6 class="card-header">If you're a new user...</h6>
                <div class="card-body">
                    <h5 class="card-title">You can sign up and register with us:</h5>
                    <a href="userAdd">
                        <img src="../../../../assets/icons/user-plus.svg" alt="userAdd" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">... or if you're already registered:</div>
                <div class="card-body">
                    <h5 class="card-title">Go to login page:</h5>
                    <a href="login">
                        <img src="../../../../assets/icons/log-in.svg" alt="login" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>