<section class="py-4">
    <div class="container text-center">
        <div class="row justify-content-center py-4">
            <div class="col-12 d-flex justify-content-between">
                <h1>Welcome to UsersApp!</h1>
                <a href="logout" class="btn btn-secondary">Log out</a>
            </div>
            <div class="col-12">
                <h3>This is the users list</h3>
            </div>
            <div class="col-12 col-md-11">
                <div class="list-group text-left">
                    <a [href]="'user/' + user.id" *ngFor="let user of _users" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{user.first_name + " " + user.last_name}}</h5>
                          <small>Click for details</small>
                        </div>
                        <small>{{user.email}}</small>
                      </a>
                  </div>
            </div>
        </div>
    </div>
</section>